@model List<Post>;

@{
    ViewData["Title"] = "Page";
@*     Console.WriteLine(ViewData["post"].ToString());
 *@}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container mt-5">
    <div class="row">

        @foreach (var post in Model)
        {

            <div class="col-md-4">
                <div class="card post-preview">
                    <a asp-controller="Posts" asp-action="Index" asp-route-id="@post.Slug">
                        <img src="https://placehold.co/600x400" class="card-img-top img-fluid" alt="Post Image 1">
                    </a>
                    <div class="card-body">
                        <span class="badge badge-primary"></span>
                        
                        <a asp-controller="Posts" asp-action="Index" asp-route-id="@post.Slug">
                            <h5 class="card-title mt-2">@post.Title</h5>
                        </a>
                        <p class="card-text">@Html.Raw(post.Content)
                            <a asp-controller="Posts" asp-action="Index" asp-route-id="@post.Slug">[...]</a>
                        </p>
                    </div>
                </div>
            </div>
        }

    </div>
</div>